 
  <h1>Welcome to Percel Management Sytem</h1>
  
  <form>
   <h2>Provide the Credential to Login</h2>
    <div class="container">
      <form class="form-controlss">
     
       <div class="form-group">
          <p>Email</p>
          <input type="email" name="email" ngModel required pattern="/^[^\s@]+@travel\.com$/" email #email="ngModel">
          <span *ngIf="!email.valid  && email.touched" class="error"> Please Enter a valid Email</span>
       </div>
       <div class="form-group">
        <p>Password</p>
        <input type="password" name="password" ngModel required  password #password="ngModel">
        <span *ngIf="!password.valid && password.touched" class="error">Enter a Valid Password </span>
        
     </div>
  
       <div class="buttons">
          <button type="submit">Submit</button>
       </div>
  
      </form>
      
  </div>
  </form>
